:root {
  --red: #dd0808;
  --purple: #991aa2;
  --green: #3bb590;
}

* {
  box-sizing: border-box;
}

.background-color-red {
  background-color: var(--red);
}

.background-color-purple {
  background-color: var(--purple);
}

.background-color-green {
  background-color: var(--green);
}

.background-color-white {
  background-color: white;
}

.background-color-black {
  background-color: black;
}

.color-red {
  color: var(--red);
}

.color-purple {
  color: var(--purple);
}

.color-green {
  background-color: var(--green);
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@300;400;600&display=swap');

h1, h2, h3, h4, h5, a {
  font-family: 'Quicksand', sans-serif;
}

li a {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 1.5em;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

button, button p {
  background-color: none;
  font-family: 'Quicksand', sans-serif;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: linear-gradient(270deg, #dd0808, #991aa2);
  background-size: 300% 300%;
  -webkit-animation: AnimationName 49s ease infinite;
  -moz-animation: AnimationName 49s ease infinite;
  animation: AnimationName 49s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

button {
  border: 0;
  background-color: white;
}

figure {
  margin: 0;
}

/* ---------- header styling ---------- */
.header {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: url("../img/text-logo-kontinuum.png") center center no-repeat;
  background-size: 40vw;
  background-color: black;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  letter-spacing: 3px;
}

.header li a {
  display: block;
  padding: 30px 30px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
}

.header .logo img {
  margin: 15px;
  width: 8vh;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .5s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 18px 10px;
  position: relative;
  user-select: none;
  margin: 5vw;
  border: solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(90deg, rgba(221, 8, 8, 1) 0%, rgba(153, 26, 162, 1) 100%);
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 100vh;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.menu-collapse {
  height: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

/* ------- Background Canvas -------- */
.canvas-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#canvas {
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 1;
}

/* ---------- page styling ---------- */
#pages-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  z-index: 10;
  scroll-behavior: smooth;
}

.page {
  display: none;
  animation: fadeIn 0.4s;
  background-color: white;
  width: 100vw;
  margin-bottom: 100vh;
}

#home {
  margin-top: 100vh;
}

#home-header {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}

#home-header-arrow {
  -webkit-animation: upDown 1.5s infinite alternate;
  animation: upDown 1.5s infinite alternate;
}

@-webkit-keyframes upDown {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

#home-footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-footer a {
  color: white;
  text-decoration: none;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

#grid-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
}

.box {
  color: black;
  display: flex;
  font-family: sans-serif;
  width: 50vw;
}

.box h3 {
  color: white;
  text-transform: uppercase;
}

.color-box h3 {
  font-weight: 100;
}

.artist-box {
  flex-direction: column;
}

.color-box {
  align-items: center;
  justify-content: center;
}

.black-header-box {
  width: 100%;
  height: 20%;
  background-color: black;
  top: 0;
}

.black-header-box h3 {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-information {
  padding-left: 10px;
  padding-right: 10px;
}

.artist-image {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.artist-hashtags {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.read-more-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
  text-decoration: underline;
}

.read-more-button p {
  margin: 5px;
}

.music-red {
  text-decoration-color: var(--red);
}

.art-purple {
  flex-direction: row-reverse;
  margin-left: 0;
  text-decoration-color: var(--purple);
}

.read-more-triangle {
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 20px solid;
  width: 0;
  height: 0;
}

.point-right {}

.point-left {}

@keyframes rotate {
  from {}

  to {
    transform: rotate(180deg);
  }
}

.hundredEightyRotation {
  animation: rotate 1s;
}

.more-info {
  margin: 10px;
  margin-top: -10px;
  grid-column: 1 / 3;
  max-height: 0;
  transition: max-height 0.35s ease-out;
  overflow: hidden;
}

.displayBlock {
  /*  display: block !important; */
  max-height: 500px;
  transition: max-height 0.35s ease-in;
}

/* rotate */
.rotateDown {
  animation: arrowAnimDown 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes arrowAnimDown {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(180deg);
  }
}

.rotateTop {
  animation: arrowAnimTop 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes arrowAnimTop {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
    /* read ahead for alternate animation */
  }
}

.ticket-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ticket-box .box-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ticket-button {
  box-shadow: 2px 3px 0px 0px black;
  background: linear-gradient(to bottom, #189056 5%, #48c3a7 100%);
  border-radius: 17px;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 20px;
}

.ticket-button a {
  margin: 20px;
  text-decoration: none;
}

.ticket-button:hover {
  background: linear-gradient(to bottom, #48c3a7 5%, #189056 100%);
  background-color: #f24437;
}

.ticket-button:active {
  position: relative;
  top: 1px;
}

/* ------ FOOTER ----- */
.footer-nav {
  position: fixed;
  z-index: 0;
  bottom: 0;
  display: none;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  cursor: pointer;
}

.footer-nav h3 {
  font-size: 14px;
}

.show, .footer-nav:hover {
  display: block;
}

.sponsor-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.sub-header {
  padding: 10px;
  padding-bottom: 10px;
}

.sub-header a {
  font-size: 12px;
  text-decoration: none;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
