body, html {
    height: 100%;
    min-height: 100%;
		overflow: hidden;
}
body {
    background: -webkit-linear-gradient(top, #f6f7fc 0%, #d5e1e8 40%);
    background: linear-gradient(to bottom, #6f7073 0%, #4a4b4c 40%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(800px);
    transform: perspective(800px);
}
.poster {
    width: 320px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -160px;
    box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
}
.poster .shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
    z-index: 100;
}
.poster div[class*="layer-"]{
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.poster .layer-1 {
	  top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;

    background-image: url("../img/blå baggrund.png");
		background-size: cover;
}
.poster .layer-2 {
	  top: 40px;
    left: 20px;
    right: -10px;
    bottom: -10px;

    background-image: url("https://res.cloudinary.com/stronquens/image/upload/v1469180874/house_stark_jjyu4r.png");
		background-size: 90% auto;
}
.poster .layer-3 {
	left: 50px;
	right: -10px;
	bottom: -10px;
  top: 350px;

  width: 70%;
  background-image: url("https://res.cloudinary.com/stronquens/image/upload/v1469180873/winter_white_peced6.png");
	background-size: 100% auto;
}
.poster .layer-4 {
	  top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background-image: url("https://res.cloudinary.com/stronquens/image/upload/v1469180875/snow_zkyoe6.png");
		background-size: 100% auto;
}
